.lista-vagas{
    display: flex;
    flex-wrap: wrap;
    max-height:auto;
    gap: 15px;
    margin:0 10%;
}

.lista-vagas .card{
    display: flex;
    min-height: 450px;
    text-align: center;
}
img{
    width: 286px;
    height: 191px;
}